@import 'styles/syntax-variables';

atom-text-editor {
  background-color: @syntax-background-color;
  color: @syntax-text-color;

  .invisible-character {
    color: @syntax-invisible-character-color;
  }

  .indent-guide {
    color: @syntax-indent-guide-color;
  }

  .wrap-guide {
    background-color: @syntax-wrap-guide-color;
  }

  .gutter {
    background-color: @syntax-gutter-background-color;
  }

  .line-number.cursor-line-no-selection {
    background-color: @syntax-gutter-background-color-selected;
  }

  .invisible {
    color: @syntax-text-color;
  }

  .cursor {
    border-color: @syntax-cursor-color;
  }

  .selection .region {
    background-color: @syntax-selection-color;
  }

  .search-results .syntax--marker .region {
    background-color: transparent;
    border: 1px solid @syntax-result-marker-color;
  }

  .search-results .syntax--marker.current-result .region {
    border: 1px solid @syntax-result-marker-color-selected;
  }

  .syntax--gfm {
    .syntax--markup {
      &.syntax--heading {
        color: @green;
        font-weight: bold;
      }

      &.syntax--underline {
        color: @yellow;
        text-decoration: underline;
      }
    }

    .syntax--bold {
      font-weight: bold;
    }

    .syntax--italic {
      font-style: italic;
    }

    .syntax--raw {
      color: @blue;
    }

    .syntax--variable.syntax--list {
      color: @pink;
      font-weight: bold;
    }

    .syntax--link {
      color: @light-gray;

      .syntax--entity {
        color: @purple;
      }
    }
  }
}

.syntax--comment {
  color: @brown;
}

.syntax--constant {
  &.syntax--character,
  &.syntax--language,
  &.syntax--numeric,
  &.syntax--other {
    color: @purple;
  }
}

.syntax--entity {
  &.syntax--name.syntax--class {
    text-decoration: none;
    color: @green;
  }

  &.syntax--name.syntax--instance {
    color: @blue;
  }

  &.syntax--name.syntax--tag,
  &.syntax--name.syntax--tag.syntax--close  {
    color: @pink;
  }

  &.syntax--name.syntax--function.syntax--processing {
    color: @green;
  }

  &.syntax--other.syntax--attribute-name {
    color: @green;
  }

  &.syntax--other.syntax--inherited-class {
    font-style: italic;
    text-decoration: none;
    color: @green;
  }
}

.syntax--invalid {
  color: @ghost-white;
  background-color: @pink;

  &.syntax--deprecated {
    background-color: @purple;
  }
}

.syntax--keyword {
  color: @pink !important;
}

.syntax--meta {
  &.syntax--tag {
    color: @syntax-text-color;
  }

  &.syntax--function {
    color: @green;
  }

  &.syntax--delimiter.syntax--comma,
  &.syntax--function.syntax--static,
  &.syntax--brace.syntax--curly,
  &.syntax--brace.syntax--square,
  &.syntax--function.syntax--json,
  &.syntax--prototype.syntax--function {
    color: @ghost-white;
  }

  &.syntax--function-call.syntax--without-arguments,
  &.syntax--function-call.syntax--with-arguments {
    color: @green;
  }

  &.syntax--method-call.syntax--with-arguments,
  &.syntax--method-call.syntax--without-arguments {
    color: @turquoise;
  }

  &.syntax--brace.syntax--round,
  &.syntax--braces.syntax--round.syntax--function.syntax--arguments {
    color: @pink;
  }
}

.syntax--storage {
  color: @pink;

  &.syntax--type {
    font-style: italic;
    color: @blue;
  }

  &.syntax--type.syntax--function,
  &.syntax--type.syntax--js {
    font-style: italic;
    color: @pink;
  }
  &.syntax--type.syntax--variable {
    color: @orange;
  }
}

.syntax--string {
  color: @yellow;

  &.syntax--unquoted {
    color: @salmon;
  }
}

.syntax--support {
  &.syntax--constant,
  &.syntax--function {
    color: @ghost-white;
  }

  &.syntax--function.syntax--processing {
    color: @blue;
  }

  &.syntax--class,
  &.syntax--type {
    font-style: italic;
    color: @blue;
  }


  &.syntax--class.syntax--component {
    color: @pink;
  }

  &.syntax--type.syntax--object.syntax--dom,
  &.syntax--type.syntax--object.syntax--module,
  &.syntax--class.syntax--builtin {
    font-style: normal;
    color: @ghost-white;
  }
}

.syntax--variable {
  &.syntax--parameter {
    font-style: italic;
    color: @orange;
  }

  // 'self' Python
  &.syntax--language.syntax--python,
  // 'this' Javascript
  &.syntax--language.syntax--js {
    font-style: italic;
    color: @blue;
  }

  &.syntax--type.syntax--variable {
    color: @orange;
  }

  &.syntax--other.syntax--readwrite {
    color: @blue;
  }

  &.syntax--other.syntax--class {
    color: @dark-blue;
  }

  &.syntax--other.syntax--object {
    color: @light-green;
  }

  &.syntax--other.syntax--property {
    color: @salmon;
  }

  &.syntax--other.syntax--constant {
    color: @purple;
  }
}

.syntax--punctuation {

  &.syntax--terminator,
  &.syntax--separator,
  &.syntax--definition.syntax--parameters {
    color: @ghost-white;
  }
}

// Jade syntax
.syntax--class.syntax--jade {
  color: @purple;
}

// Prevent underlines from making their way into whitespace elements
.syntax--leading-whitespace,
.syntax--trailing-whitespace {
  display: inline-block;
}
